{% extends 'KromboxMainBundle:Layout:layout.html.twig' %}

{% block header %}
    {{ parent()}}
    
    {% block stylesheets %}            
        <link href="{{ asset('bower/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower/jquery-bar-rating/dist/themes/bars-1to10.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    
    

    {% block javascripts_head %}        
        <script src="{{ asset('bower/fullcalendar/dist/fullcalendar.min.js') }}"></script>        
        <script src="{{ asset('bower/jquery-bar-rating/dist/jquery.barrating.min.js') }}"></script>        
        <script src="{{ asset('bower/jquery.countdown/dist/jquery.countdown.min.js') }}"></script>        
        <script src="{{ asset('bower/echojs/dist/echo.min.js') }}"></script>        
        <script src="{{ asset('js/spin.min.js') }}"></script>
        <script src="{{ asset('js/ratingWidget.js') }}"></script>
    {% endblock %}
{% endblock %}
    
{% block main_content %}    
<div class="place">
    <h2>{{ place.getName }}</h2>
    {% if place.logo is not null %}
        <img src="{{ place.logo.path | imagine_filter('place_logo_thumb') }}" >
    {% endif %}
    <p><strong>{% trans %}categories{% endtrans %}: </strong>{{ place.getCategoriesName | join(',') }}{% if place.is24h %}<span class="label label-danger">{% trans %}24h{% endtrans %}</span>{% endif %}</p>
    <p><strong>{% trans %}address{% endtrans %}: </strong> {{ macro.nice_address(place.address) }}</p>
    
    {% if place.phones is not empty%}
    <p>
      <strong>{% trans %}phones{% endtrans %}: </strong>
      {% for phone in place.phones %}
            <span><i>{{ phone.type |readable('PhoneType') | trans({})}}:</i></span> {{ phone.number }}            
        {% endfor %}
    </p>
    {% endif %}
    
    {% if place.socialLinks is not empty%}
    <p>
      <strong>{% trans %}social links{% endtrans %}: </strong>
      {% for social in place.socialLinks %}
            <span><i>{{ social.type |readable('SocialLinkType') | trans({})}}:</i></span> {{ social.url }}            
        {% endfor %}
    </p>
    {% endif %}
    
    {% if place.website is not empty %}
        <p>
            <strong>{% trans %}website{% endtrans %}:</strong><a href="{{ place.website }}">{{ place.website }}</a>
        </p>
    {% endif %}
        
    <p>{{ place.getDescription }}</p>
    
    {% if place.placeFilterValues is not empty %}
        <div class="panel panel-success">
            <div class="panel-heading">{% trans %} Features {% endtrans %}</div>
            <div class="panel-body">
                {{ macro.filters_widget(place) }}
            </div>
        </div>
    {% endif %}
    
    {% if place.halls is not empty %}        
        <div class="panel panel-success">
            <div class="panel-heading">{% trans %} halls.list {% endtrans %}</div>
            <div class="panel-body">
            {% for hall in place.halls %}        
                <div class="hall">
                    <p><strong>{% trans %} hall.name {% endtrans %}:</strong><i> {{ hall.name }}</i></p>
                    <p><strong>{% trans %} hall.number.of.seats {% endtrans %}:</strong> {{ hall.numberOfSeats }}</p>
                {% for img in hall.placeHallImages %}                        
                    <img src="{{ asset('images/spinn_2.gif') }}"  data-echo="{{ img.path | imagine_filter('place_image_thumb') }}" alt="" />                
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% if place.placesLinked is not empty %}       
     <div class="panel panel-info">
        <div class="panel-heading">Linked places</div>
        <div class="panel-body">
        {% for placeLinked in place.placesLinked %}
            <div class="linked">
                <a href="{{ path('place_details', {'slug': placeLinked.slug})  }}">{{ placeLinked.name }}
                    <p><img src="{{ generateImageUrl(placeLinked.logoFileName, 'place_image') | imagine_filter('place_image_thumb') }}" ></p>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
        
    {% endif %}
    {#<div class="likes-wrapper row">
        {{ macro.likes_widget(place) }}
    </div>#}
    {#<div class="comments-wrapper">
        <h2>Comments</h2>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': '17'} %}
    </div>#}        
    
    <div class="panel panel-info">
        <div class="panel-heading">Rating</div>
        <div class="panel-body">
            <div class="rating-wrapper rating-widget" data-url-rate="{{ path('place_rate', {'hash' : place.hash }) }}" data-url-unrate="{{ path('place_unrate', {'hash' : place.hash }) }}" >
                {% set userRating = null %}
                {% if is_granted("IS_AUTHENTICATED_FULLY") and place.getUserRating(app.user) is not null %}
                    {% set userRating = place.getUserRating(app.user) %}
                {% endif %}

                <div class="col-lg-12">            
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        {% if userRating is not null %}
                            <div class="col-lg-12">                
                                ваша оценка: {{ userRating }} %   <a class="unset-button" href="#">отменить</a>
                            </div>
                        {% else %}
                            <div class="col-lg-12">
                                {{ macro.rating_widget(place) }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <div id="rating" class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ place.rating }}%;">
                          {{ place.rating }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bisinessHours">
        {#time
        {{ closestBusinessHours(place) | date('Y/m/d H:i:s') }}        
        
        <div id="hours-left" data-countdown="{{ closestBusinessHours(place) | date('Y/m/d H:i:s') }}">
            <script type="text/javascript">
                $(document).ready(function(){
                    console.log('ready');
                    $('[data-countdown]').each(function() {
                        var $this = $(this), finalDate = $(this).data('countdown');
                        $this.countdown(finalDate, function(event) {
                          $this.html(event.strftime('%D days %H:%M:%S'));
                        });
                    });
                });               
            </script>#}
        </div>
        {{ macro.busuness_hours_widget(place) }}        
    </div>
    
    <div class="events">
        {% for event in place.events if place.events is not empty %}
            <a href="{{path('event_details', {'slug': event.slug})}}">{{event.name}}</a>,
        {% endfor %}
    </div>
        
    <div class="calendar-wrapper">
        {{ macro.calendar_widget(place) }}
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
          {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': '17'} %}
        </div>
    </div>
    
</div>
        
        <script>
            $(document).ready(function(){
                echo.init({
                    offset: 100,
                    throttle: 250,
                    unload: false,
                    callback: function (element, op) {
                      console.log(element, 'has been', op + 'ed')
                    }
                });
            })  

  // echo.render(); is also available for non-scroll callbacks
  </script>
{% endblock %}