{% extends 'KromboxMainBundle:Layout:layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block main_content %}
    
    {% block stylesheets %}    
        {{ form_stylesheet(form) }}
    {% endblock %}

    {% block javascripts %}
        {{ form_javascript(form) }}
    {% endblock %}

<div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>
        
    {{ form_start(form) }}
    {{ form_errors(form) }}    
    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
{{ form_end(form) }}
    

<script>
    var $collectionHolderBusinessHours;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link btn-success">Add a BUSINESS Hours</a>');
    var $newLinkTag = $('<div></div>').append($addTagLink);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolderBusinessHours = $('#place_business_hours_businessHours');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolderBusinessHours.append($newLinkTag);
        
        $collectionHolderBusinessHours.find('.collection-item-holder').each(function() {
            addFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolderBusinessHours.data('index', $collectionHolderBusinessHours.find(':input').length);

        $addTagLink.on('click', function(e) {console.log('clicks')
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addBusinessHoursForm($collectionHolderBusinessHours, $newLinkTag);
        });
    });
    
    function addBusinessHoursForm($collectionHolderBusinessHours, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolderBusinessHours.data('prototype');
        console.log(prototype,'prototype');

        // get the new index
        var index = $collectionHolderBusinessHours.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolderBusinessHours.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
        
        addFormDeleteLink($newFormLi);
    }
    
    var $collectionHolder;

    // setup an "add a tag" link
    var $addPhoneLink = $('<a href="#" class="add_tag_link btn-success">Add a Phone</a>');
    var $newLinkPhone = $('<div></div>').append($addPhoneLink);

    jQuery(document).ready(function() {        
        // Get the ul that holds the collection of tags
        $collectionHolder = $('#krombox_mainbundle_place_phones');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkPhone);
        
        $collectionHolder.find('.collection-item-holder').each(function() {
            addFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addPhoneLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addPhoneForm($collectionHolder, $newLinkPhone);
        });
    });
    
    function addPhoneForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
        
        addFormDeleteLink($newFormLi);
    }
    
    var $collectionHolderHall;

    // setup an "add a tag" link
    var $addHallLink = $('<a href="#" class="add_tag_link btn-success">Add a Hall</a>');
    var $newLinkHall = $('<div></div>').append($addHallLink);

    jQuery(document).ready(function() {        
        // Get the ul that holds the collection of tags
        $collectionHolderHall = $('#krombox_mainbundle_place_halls');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolderHall.append($newLinkHall);
        
        $collectionHolderHall.find('.collection-item-holder').each(function() {
            addFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolderHall.data('index', $collectionHolderHall.find(':input').length);

        $addHallLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addHallForm($collectionHolderHall, $newLinkHall);
        });
    });
    
    function addHallForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
        
        addFormDeleteLink($newFormLi);
    }
    
    function addFormDeleteLink($FormDiv) {
        var $removeFormA = $('<a class="btn-danger" href="#">delete</a>');
        $FormDiv.after($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $FormDiv.remove();
        });
    }
    
    
</script>

{% endblock %}