<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>       

{% block my_tag_widget %}                        
    <p>                
        <input  id="mySingleField" type="hidden" value="{{ form.vars.value }}"  name="{{ form.vars.full_name }}"> <!-- only disabled for demonstration purposes -->
    </p>
    <ul id="tags" class="tagit"></ul>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="http://aehlke.github.io/tag-it/css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="http://aehlke.github.io/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">	
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ asset('js/tagit/tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
<script>   
    $(document).ready(function() {       
        $("#tags").tagit({
            //fieldName: "krombox_mainbundle_event[tags]",
            //placeholderText: "my_super_tag, amazing, great",
            singleField: true,
            singleFieldNode: $('#mySingleField'),
            tagLimit: 10,            
            removeConfirmation: true,            
            autocomplete: {
               source: Routing.generate('tags_feed'),               
               minLength: 2
            }
        });
    });
</script>
{% endblock %}
{# NOT USED #}
{% block image_file_widget %}    
    {% spaceless %}
        {% set subject =  form.parent.vars.value %}

        {% if subject %}
            {% set img = vich_uploader_asset(subject, name) %}
            {% set pic = 'https://copy.com/thumbs_public/nIdkDSHtsduPhb3E/place_images/' ~ subject.fileName ~ '?size=1024' %}                   
            {% if img %}
                <img class="{{ imgclass }}" src="{{ pic }}"/>
                {% set required = false %}
            {% endif %}
            <a href="#" class="imgremove btn btn-danger btn-block"><i class="fa fa-trash-o"></i> {{ 'product.removeimage' | trans | desc('Remover') }}</a>
        {% endif %}

        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{% block imagess_dropzone_widget %}
    {% set element_id = form.vars.id %}
    <div class="test" id="{{ form.vars.id }}">test div id {{ element_id }}</div>
{% endblock %}    

{% block images_dropzone_widget %}       
    <div class="dropzone-wrapper">                 
        {% set element_id = form.vars.id %}
        {% set ids = [] %}
        {#{{ dump(form.vars.value) }}        #}
        {% set ids = form.vars.value | split(',') %}
          
            {#{{dump(ids)}}#}
        <div id="{{ element_id }}" class="dropzone dropzone-widget">
            {% for id in  ids if id %}                                                            
                <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">  
                    <div class="dz-image">
                        <img data-dz-thumbnail="" alt="" src="data:image/png;base64,{{ imageUrl(id, form.vars.class) | imagine_filter('place_image_preview_thumb') | base64encodefile }}"/>        </g>      </g>    </svg>  
                    </div>
                    <a data-dz-remove="" data-id="{{ id }}" href="javascript:undefined;" class="dz-remove">Remove file</a>
                </div>
            {% endfor %}
            
            <input id="{{ element_id }}-input" type="text" class="{% if form.vars.attr.class is not defined %}dropzone_input{% else %}{{form.vars.attr.class}}{% endif %}" required="{{ form.vars.required }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}">
        </div>  
    </div>

{% endblock %}

{% block clock_picker_widget %}        
    <div class="input-group clockpicker">
        <input type="text" id="input-a" {% if form.vars.required %}required{% endif %} class="form-control" value="{{ form.vars.value }}" name="{{ form.vars.full_name }}">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
{% endblock %}

{% block business_hours_widget %}
        {{ form_errors(form) }}
        {#{{ dump(form) }}#}
        {#<div class="{{ form.vars.attr.class }}">#}
        {#<div>#}        
            <div class="days-holder row">
                <div class="col-lg-2">
                    {{ form_widget(form.dayMonday, { 'required': form.dayMonday.vars.required }) }}
                </div>
                <div class="col-lg-2">
                    {{ form_widget(form.dayTuesday, { 'required': form.dayTuesday.vars.required }) }}
                </div>
                <div class="col-lg-2">
                    {{ form_widget(form.dayWednesday, { 'required': form.dayWednesday.vars.required }) }}
                </div>
                <div class="col-lg-2">
                    {{ form_widget(form.dayThursday, { 'required': form.dayThursday.vars.required }) }}
                </div>
                <div class="col-lg-2">
                    {{ form_widget(form.dayFriday, { 'required': form.dayFriday.vars.required }) }}
                </div>
                <div class="col-lg-1">
                    {{ form_widget(form.daySaturday, { 'required': form.daySaturday.vars.required }) }}
                </div>
                <div class="col-lg-1">
                    {{ form_widget(form.daySunday, { 'required': form.daySunday.vars.required }) }}
                </div>                                   
            </div>
            <div class="time-holder row">    
                <div class="col-lg-6">
                    {#<a href="#">some link</a>#}
                    <div class="form-group {% if not form.startsAt.vars.valid %}has-error{% endif %}">
                    {{ form_widget(form.startsAt) }}
                    {{ form_errors(form.startsAt) }}        
                    </div>
                </div>
                <div class="col-lg-6">
                    {#<a href="#">some link</a>#}
                    <div class="form-group {% if not form.endsAt.vars.valid %}has-error{% endif %}">
                    {{ form_widget(form.endsAt) }}
                    {{ form_errors(form.endsAt) }}
                    </div>
                </div>        
            </div>        
        {#</div>#}
{% endblock %}

{% block address_widget %}
    <div class="gmaps">
        {% for child in form %}    
            {{ form_row(child) }}
        {% endfor %}
        <div class="map-canvas"></div>
    </div>
        
    {% if  form.vars.value.lat is defined and form.vars.value.lat is not empty and form.vars.value.lng is defined and form.vars.value.lng is not empty %}
        <script>
            gmapsWidget.lat = '{{ form.vars.value.lat }}';
            gmapsWidget.lng = '{{ form.vars.value.lng }}';
        </script>
    {% endif %}                  
{% endblock %}

{% block entity_filter_widget %}
    <div class="filterValues">
    {#{{ dump(form) }}#}
    {% set label = '' %}
    {% for child in form.children %}        
        {% if child.vars.filter_kind != label %}
            <label>{{ child.vars.filter_kind }}</label>
            {% set label = child.vars.filter_kind %}
        {% endif %}
        {{ form_label(child) }}
        {{ form_widget(child) }}
        {#{{ dump(child.vars) }}#}
    {% endfor %}
    </div>
{% endblock %}

{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="a2lix_translations tabbable">
        <ul class="a2lix_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li {% if app.request.locale == locale %}class="active"{% endif %}>
                <a href="#" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                    {{ locale|capitalize }}
                    {% if form.vars.default_locale == locale %}[Default]{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}">
                {% for translationsField in translationsFields.children %}
                    {{ form_errors(translationsField) }}                    
                                        
                    {{ form_label(translationsField) }}
                    <div class="input-group">
                    {{ form_widget(translationsField) }}
                    <div class="input-group-addon"><i class="fa fa-exchange"></i></div>
                    </div>
                {% endfor %}                                
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}


    
