<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->    
    
    <link rel="image_src" href="http://sanyahelp.in.ua/img/social-main.jpg" />
    {#<!-- <link href="less/style.less"  rel="stylesheet/less"/> -->   #}
    
    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://raw.githubusercontent.com/marcoceppi/bootstrap-glyphicons/master/css/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {#<link rel="stylesheet" href="https://twitter.github.io/typeahead.js/css/examples.css">        #}
    {% endblock %}
    
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    {% block javascripts_head %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="{{ asset('js/common.js') }}"></script>
        <script src="{{ asset('bower/moment/moment.js') }}"></script>
        <script src="{{ asset('bower/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endblock %}
     
  </head>
  <body>      
    
<body>
    <header>
        {#<ul>
            <li><a href="#">create.new.place</a></li>
        </ul>#}
        <nav class="navbar top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('home') }}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {#<li class="active"><a href="{{ path('place_create') }}">{% trans %}create.new.place{% endtrans %}<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path('event_create') }}">{% trans %}create.new.event{% endtrans %}<span class="sr-only">(current)</span></a></li>#}
        <li><a href="{{ path('places_list', {'city_slug': 'poltava', 'category_slug': 'restaurants-cafe'}) }}">{% trans %}places{% endtrans %}<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path('events_list', {'city_slug': 'poltava', 'category_slug': 'concert'}) }}">{% trans %}events{% endtrans %}<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans %}create{% endtrans %} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('place_new') }}">{% trans %}create.new.place{% endtrans %}</a></li>
            <li><a href="{{ path('event_create') }}">{% trans %}create.new.event{% endtrans %}</a></li>            
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input  type="text" class="form-control typeahead" placeholder="Search for places">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        
      <ul class="nav navbar-nav navbar-right">
          {% if app.user %}
          <li class="first last dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img class="img-circle navbar-avatar" src="http://lorempixel.com/24/24/">{{ app.user }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class=""><a href="{#{{ path('user_profile') }}#}/profile">profile</a></li>
                    <li class=""><a href="{{ path('user_places') }}">{% trans %} my.places {% endtrans %}</a></li>
                    <li><a href="{{ path('user_events') }}">{% trans %} my.events {% endtrans %}</a></li>
                    <li class=""><a href="/logout">logout</a></li>
                </ul>
           </li>
           {% else %}
               <li><a href="/login">login<span class="sr-only">(current)</span></a></li>
               <li><a href="/register">register<span class="sr-only">(current)</span></a></li>
           {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </header>
      <script>
          var source = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            identify: function(obj) { return obj.id; },
            //identify: function(obj) { return obj.id; },
            {#prefetch: '../data/films/post_1960.json',#}
            remote: {
            url: Routing.generate('api_1.get_places_autocomplete'),
            //url: Routing.generate('api_1.get_cities_autocomplete'),            
            wildcard: '%QUERY',
            replace: function(url, uriEncodedQuery) {
                console.log('replace', $('#location-form #city').val());
                var city = $('#location-form #city').val();
                $('#location-form #city').val();
                return url + '?q=' + uriEncodedQuery + '&city=' + city;
            },
            {#ajax : {
                beforeSend: function(jqXhr, settings){
                    settings.data = $.param({q: queryInput.val()})
                },
                type: "POST"
            }#}
              {#transform: function(results) { 
                  $.each(results, function(){
                      return this.id;
                  })
              },#}
            }
          });
          
          $(document).ready(function(){
            $('.typeahead').typeahead({
            minLength: 3,
            highlight: true
            },
            {
            name: 'my-dataset',
            displayKey: 'name',
            source: source,
            templates: {
                empty: [
                  '<div class="empty-message">',
                    'unable to find any Best Picture winners that match the current query',
                  '</div>'
                ].join('\n'),
                suggestion: function(data){
                    return '<p><a href="' + Routing.generate('location_map', {'slug': data.city.slug })  + '">' + data.name + '</a></p>';
                    //return '<p><strong>' + data.name + '</strong></p>';
                }
              }
            }){#.on('typeahead:selected', function (event, datum, name) {
   $(this).typeahead("val", "");
            });#}
          })          
      </script>                                             