{% import "KromboxMainBundle::macro.html.twig" as macro -%}

{#{% form_theme filterForm 
    'KromboxMainBundle:Form:filter_layout.html.twig'    
%}#}

<div class="places-wrapper">
<div class="col-lg-2">    
    <div class="filter-form-wrapper">
    {% if filterForm is defined %}
                
        {{ form_start(filterForm) }}
        
        {% for filterType in filterForm.children %}
            {% if filterType.vars.name in filterFacet | keys %}
                <legend>{{ filterType.vars.name }}</legend>
                {% for filter in filterType.children %}
                    {% set filterTypeName = filterType.vars.name %}                                        
                    {% set filterFacetType =  attribute(filterFacet, filterTypeName) %}
                    {% set filterCount = 0 %}
                    {% for facet in filterFacetType.buckets %}
                        {% if filter.vars.label  == facet.key %}
                            {% set filterCount = facet.doc_count %}                        
                        {% endif %}
                    {% endfor %}
                    <div class="checkbox">                                                
                        <label>
                            {{ form_widget(filter) }}
                            {{ filter.vars.label }}
                        </label>                        
                        ({{ filterCount }})                      
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {{ form_rest(filterForm) }}
        {{ form_end(filterForm) }}
        {#<input type="submit" class="btn btn-info">#}
    {% endif %}
    </div>
    <!-- testFilter.html.twig -->    
    {#<div class="filter-form-wrapper">
        {{ form_start(form) }}        
        
        {% set scope = [] %}
        {% for service in form.services if service.vars.data %}
            {% set scope = scope | merge([service.vars.value]) %}            
        {% endfor %}
        {% for relaxation in form.relaxations if relaxation.vars.data %}
            {% set scope = scope | merge([relaxation.vars.value]) %}            
        {% endfor %}        
        
        <legend>{% trans %}services{% endtrans %}</legend>
        {% for service in form.services %}
            <div>
                <label>                
                {{ form_widget(service) }}
                {{ service.vars.label }}
                <span>({{ placeCount(service.vars.value, scope) }})</span>
                </label>
            </div>
        {% endfor %}
        
        <legend>{% trans %}relaxations{% endtrans %}</legend>
        {% for relaxation in form.relaxations %}
            <div>
                <label>                
                {{ form_widget(relaxation) }}
                {{ relaxation.vars.label }}
                <span>({{ placeCount(relaxation.vars.value, scope) }})</span>
                </label>
            </div>
        {% endfor %}
        {{ form_rest(form) }}
        {{ form_end(form) }}#}
        {#<input type="submit" name="submit-filter" value="filter" />#}
    {#</form>#}
    
    </div>   
    {#{{ google_map(map) }}#}
<div class="col-lg-10">{#{{ placeCount(filterForm) }}#}
    {#{{ render(controller('KromboxMainBundle:Category:categoriesList', {'type': 'place'})) }} #}
    
    <div class="list">
    {% if places is defined %}
        {% for entity in places %}
            <div class="place row">
                <div class="col-lg-4">
                    {% if entity.logo is not null %}
                        <img src="{{ generateImageUrl(entity.logo.fileName, 'place_image') | imagine_filter('place_logo_thumb') }}" >
                    {% endif %}
                </div>
                
                <div class="col-lg-8">
                    <h2><a href="{{ path('place_details', { 'slug': entity.slug })}}">{{ entity.getName }}</a>{{ macro.membership(entity) }}{{ entity.membership.score }}</h2>{{ macro.edit_place_button(entity) }}
                    {#<p><strong>{% trans %}categories{% endtrans %}: </strong>{{ entity.getCategoriesName | join(',') }}{% if entity.is24h %}<span class="label label-danger">{% trans %}24h{% endtrans %}</span>{% endif %}</p>#}
                    <p><strong>{% trans %}address{% endtrans %}: </strong> {{ macro.nice_address(entity.address) }}</p>
                    {% if entity.isWifi %}<p><strong>{% trans %}wifi{% endtrans %}: </strong> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></p>{% endif %}
                    <p>
                        <strong>{% trans %}business_hours{% endtrans %}: </strong>
                        {#{% for bHours in entity.businessHours %}
                            <span class="fromDay">{{ bHours.startsAt |readable('DayType') | trans({})}}</span> - <span class="toDay">{{ bHours.toDay |readable('DayType') | trans({}) }}</span>
                            <span class="fromTime">{{ bHours.fromTime | date('H:i') }}</span> - <span class="toTime">{{ bHours.toTime | date('H:i') }}</span>,                        
                        {% endfor %}    #}
                        {% if isWorkingNow(entity) %}<span class="label label-warning">работает сейчас!</span>{% else %}<span class="label label-danger">закрыто</span>{% endif %}
                    </p>

                    {% for img in entity.getPlaceImages %}                    
                        <img src="{{ generateImageUrl(img.fileName, 'place_image') | imagine_filter('place_image_thumb') }}" >
                        {#<img src="{{ 'https://copy.com/thumbs_public/nIdkDSHtsduPhb3E/place_images/553feca345d3b.jpg' | imagine_filter('place_image_thumb') }}">#}

                        {#{% set pic = 'https://copy.com/thumbs_public/nIdkDSHtsduPhb3E/place_images/' ~ img.fileName ~ '?size=1024' %}                   #}
                        {#<img src="{{ pic | imagine_filter('place_image_thumb')  }}" alt="" />#}
                        {#<img src="{{ pic }}" alt="" />#}

                    {% endfor %}
                    <p>{{ entity.getDescription }}</p>
                    </div>
            </div>
        {% endfor %}
        {#<img src="{{ 'http://s.ill.in.ua/i/news/630x373/266/266971.jpg'  | customImagine('place_image_thumb')  }}" alt="" />#}
    {% endif %}
    </div>
</div>
</div>
    